<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Admin Catégorie</title>

</head>

<body>
    <div class="container-table">
        <div class="table-entiere">
            <div class="titre-table">
                <div class="row-titre">
                    <div class="titre">
                        <h3>Liste des <b style="color:#17a2b8">Catégories</b></h3>
                    </div>
                    <div class="param">
                        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Ajouter une Catégorie</button>
                        <a href="/navigation"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Modifier les produits</button></a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead id="planning">
                    <tr>
                        <th>Num.</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>No Photo</td>
                        <td>Catégorie 1</td>
                        <td>Description Courte</td>
                        <td class="action-buttons">
                            <button type="button" class="btn btn-outline-info button-lst-prod"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
                            <button type="button" class="btn btn-outline-success button-lst-prod"><span class="glyphicon glyphicon-pencil"></span> Modifier</button>
                            <button type="button" class="btn btn-outline-danger button-lst-prod"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>No Photo</td>
                        <td>Catégorie 2</td>
                        <td>Description un peu plus longue mais pas trop</td>
                        <td class="action-buttons">
                            <button type="button" class="btn btn-outline-info button-lst-prod"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
                            <button type="button" class="btn btn-outline-success button-lst-prod"><span class="glyphicon glyphicon-pencil"></span> Modifier</button>
                            <button type="button" class="btn btn-outline-danger button-lst-prod"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>No Photo</td>
                        <td>Catégorie 3</td>
                        <td>Une description vraiment très longue car sinon on ne peut pas voir la limite que peut présenter la case, bon je vais m'arrêter là car c'est un peu long d'écrire</td>
                        <td class="action-buttons">
                            <button type="button" class="btn btn-outline-info button-lst-prod"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
                            <button type="button" class="btn btn-outline-success button-lst-prod"><span class="glyphicon glyphicon-pencil"></span> Modifier</button>
                            <button type="button" class="btn btn-outline-danger button-lst-prod"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>