<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Admin Catégorie</title>

</head>
<body>
    <div class="container">
        <div class="table-entiere">
            <div class="titre-table">
                <div class="row">
                    <div class="col-sm-6"><h2>Liste des <b>Catégories</b></h2></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Ajouter une Catégorie</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-info"><i class="fa fa-pencil"></i> Modifier les produits</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Num.</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>No Photo</td>
                        <td>Catégorie 1</td>
                        <td>Description Courte</td>
                        <td>
                            <a class="add" title="Ajouter" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Modifier" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                      <tr>
                        <td>2</td>
                        <td>No Photo</td>
                        <td>Catégorie 2</td>
                        <td>Description un peu plus longue mais pas trop</td>
                        <td>
                            <a class="add" title="Ajouter" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Modifier" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                       <tr>
                        <td>3</td>
                        <td>No Photo</td>
                        <td>Catégorie 3</td>
                        <td>Une description vraiment très longue car sinon on ne peut pas voir la limite que peut présenter la case, bon je vais m'arrêter là car c'est un peu long d'écrire</td>
                        <td>
                            <a class="add" title="Ajouter" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Modifier" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Supprimer" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</body>
</html>   
