<head>

    <meta charset="utf-8">
    <title>FrontOffice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
  
  <div style="text-align: center;">
  <img style="width: 600px" style="height: 600px;" src="https://cdn.pixabay.com/photo/2016/10/23/15/46/logo-1763254_960_720.png"><br/>
  <p> Bienvenue sur notre site d'E-commerce. Afin de procéder à la navigation, cliquez sur "Navigation". Sinon, veuillez vous inscrire ou vous authentifier.</p>
  <a href="/inscription"><input type="button" class="btn btn-success" value="S'inscrire"></a>
  <a href="/authentification">  <input type="button" class="btn btn-success" value="Se connecter"/></a>
  <a href="/navigation"><input type="button" class="btn btn-success" value="Navigation"></a>
  </div>
  
  </body>