<form name="connexion" class="formulaireconnexion" [formGroup]="form">
    <h3><b> Déjà client ? </b></h3>
    <div class="form-group">
        <label>Nom de compte</label>
        <input type="text" class="form-control" placeholder="Nom de compte" formControlName="compte" title="Veuillez remplir ce champ" required />
    </div>
    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password" title="Veuillez remplir ce champ" required />
    </div>
    <div> <a class="forgetPassword" href="" (click)="forgetPassword()">Mot de passe oublié ?</a> <br> <button type="submit" class="btn btn-success" (click)="verifClient()">Se connecter</button>
    </div>
</form>